//Colors
$primary-color: #131921;
$secondary-color: #2a3646;
$tertiary-color: #ffffff;
$body-color: #ebebeb;
$btn-hover: #334358;
$btn-hover-2: #59769b;

//Fonts
$font-color: #000000;
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$brand-font: 'Noto Sans', sans-serif;

$big-size: 2.5rem;
$brand-size: 2rem;
$medium-big-size: 1.8rem;
$normal-size: 1.2rem;
$small-size: 1rem;

//Mixings
@mixin fullscreen {
  height: 100vh;
  width: 100%;
}

@mixin absolute-positioning($direction, $distance) {
  position: absolute;
  #{$direction}: $distance;
}

@mixin transition($elements, $duration) {
  transition: $elements $duration ease-in-out;
}

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: $direction;
}

@mixin grid-layout {
  margin: 3em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30em);
  justify-content: center;
  align-content: center;
  grid-gap: 3em;
}

@mixin btn($font-size, $color, $background-color) {
  font-family: $main-font;
  font-weight: 600;
  font-size: $font-size;
  text-decoration: none;
  border-radius: 0.4rem;
  color: $color;
  background-color: $background-color;
}

@mixin box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

//Media queries breakpoints
$phone-tablet: 900px;
$desktop: 1024px;
