@import 'library';

.query {
  font-size: $big-size;
  text-align: center;
}

.list-container {
  @include flex-center(column);
  justify-content: unset;
  background-color: white;
  min-height: 100vh;
  margin: 3em auto 0em;
  width: 60%;

  .result {
    @include flex-center(row);
    position: relative;
    flex-wrap: nowrap;
    justify-content: unset;
    width: 90%;
    padding: 2em 0;
    border-bottom: solid 0.15em rgb(211, 211, 211);
    font-family: $secondary-font;

    .product-name {
      margin: 0.2em 0em;
      color: $primary-color;
      font-size: $normal-size + 0.3rem;
      &:hover {
        text-decoration: underline;
        color: $btn-hover-2;
      }
    }

    .product-price {
      margin: 0.2em 0em;
      font-size: $big-size - 0.5rem;
      font-weight: 400;
    }

    .img-container {
      @include flex-center(row);
      margin: 1em;
      width: 12em;
      img {
        height: 6em;
      }
    }
  }
}

.negative-search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dlt-product {
  position: absolute;
  right: 2em;
}

@media (max-width: 1300px) {
  .list-container {
    width: 100%;

    .result {
      .product-name {
        font-size: 1.4rem;
      }

      .product-price {
        font-size: 1.5rem;
      }
    }
  }
}
